/* Disgusting stuff */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body {
    background: black;
    user-select: none;
    font-family: "Noto Sans", Sans-Serif;
}

#toolbelt {
    position: fixed;
    width: 100%;
    height: 10%;
    background: darkgray;
    top: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#stocks {
    width: 45%;
    height: 75%;
    margin: 2vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#graph {
    width: 100%;
    height: 100%;
    background: black;
}

.bsButton {
    font-family: "Noto Sans", Sans-Serif;
    border-radius: 1vmin;
    font-size: 200%;
    width: 50%;
    height: 10%;
    border: solid black 0.1vmin;
    margin-top: 1%;
}

.bsButton:hover {
    cursor: pointer;
}

#moneyText {
    position: fixed;
    width: 20%;
    top: 85%;
    left: 2%;

}

#valueDisplay {
    background: white;
}

#valueDisplay:hover {
    background: white;
    cursor: auto;
}

#holdings {
    background: white;
}

#holdings:hover {
    background: white;
    pointer: auto;
}

#buy {
    background: #00A121;
}

#buy:hover {
    background: #278121;
}

#sell {
    background: red;
}

#sell:hover {
    background: #ab0000;
}

#blower {
    margin: 2vmin;
}

#blowerIMG {
    width: 50%;
}

#blowerIMG:hover {
    cursor: pointer;
}

.bubble {
    top: 40%;
    left: 40%;
    width: 4vmin;
    position: absolute;
}

.container {
    background: gray;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
