@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body {
    user-select: none;
}
.container {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1vmin; 
    background-color: #f0f0f0;
}

.box {
    font-family: "Noto Sans", Sans-Serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh; 
    border-radius: 1vw; 
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.2); 
}

#graphContainer {
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
}

#graph {
    background: #292a5c;
    width: 100%;
    height:100%;
}

#valueDisplay {
    color: #21A0A0; 
    background: pink;
    grid-row: 2;
}

#bubbleButton {
    background-color: #21A0A0; 
    grid-column: 3;
    grid-row: 3;
}

#bubbleButton:hover {
    background: #118090; 
    cursor: pointer;
}

#moneyText {
    background: #046865;
    grid-column: 3;
    grid-row: 4
}

#holdings {
    background: #4f799c;
    grid-row: 3 / span 2;
    grid-column: ;
}

#gameTimer {
    font-family: "Noto Sans", Sans-Serif;
    background: #FFE900
}

#taxCounter {
    background: red;
    grid-row 3;

}

#shop {
    background: #f3b26d;
    grid-row: 2/ span 3;
    grid-column: 4;
    display: flex;
    flex-direction: column; 
    padding: 0.5vmin;
}

.shopItem {
    font-family: "Noto Sans", Sans-Serif;
    margin-top: 0.5vmin;
    margin-bottom: 0.5vmin;
    border-radius: 1vw;
    height: 100%;
    width: 100%;
    background: #f37f6d;
    text-align: center;
    color: white;
    font-size: 2.5vmin;
}

.shopItem:hover {
    cursor: pointer;
    background: #d36f69;
}


.bubble {
    position: fixed;
}

.clickableOutline {
    border: dashed 0.25vmin black;
}

.clickableOutline:hover {
    border: solid 0.25vmin black;
}

#tutorial {
    border-radius: 0;
    position: fixed;
    font-size: 2vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: black;
    padding: 0.5vmin;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#startButton {
    width: 40vw;
    height: 20vh;
    color: black;
}

.shopSign:hover {
    background: #f37f6d;
    cursor: auto;
}

#stockShop {
    background: #20bd81;;
    grid-row: 3 / span 2; 
    grid-column: 2; 
    display: flex;
    flex-direction: column;
    padding: 0.5vmin;
}

.stockButton {
    font-family: "Noto Sans", Sans-Serif;
    font-size: 3vmin;
    color: #2146a9;
    border-radius: 2vh;
    width: 100%;
    height: 100%;
    margin-top: 0.5vmin;
    margin-bottom: 0.5vmin;
}

.stockButton:hover {
    cursor: pointer;
}

.buyButton {
    background: #0fff00;
}

.buyButton:hover {
    background: #0aaa00;
}

.sellButton {
    background: #ff0000;
}

.sellButton:hover {
    background: #aa0000;
}
